git+https://github.com/rapptz/discord.py
git+https://github.com/dolfies/discord.py-self@renamed#egg=selfcord.py[voice]
jishaku
psutil
xxhash
pillow
redis
munch
tornado
beautifulsoup4
humanize
pomice
shazamio
typing_extensions
asyncpg
yt-dlp
pyppeteer
colorgram.py
python-dateutil
pydantic
humanfriendly
cashews[redis]
pydub
python-magic
ffmpeg-python